{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://bnp-integracao.stg.cloud.pje.jus.br","description":"Generated server url"}],"paths":{"/v1/suspensao-incidente-demanda-repetitiva":{"get":{"tags":["suspensao-incidente-demanda-repetitiva-resource"],"summary":"Pesquisa uma lista de suspensões de incidentes a partir de um filtro (paginado)","operationId":"list","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de Página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSuspensaoIncidenteDemandaRepetitivaRespostaDTO"}}}}}},"put":{"tags":["suspensao-incidente-demanda-repetitiva-resource"],"summary":"Salva uma lista de suspensões de incidentes","operationId":"save","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SuspensaoIncidenteDemandaRepetitivaDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/suspensao-incidente-demanda-repetitiva/{idOrgao}/{numero}/processo-sobrestado":{"put":{"tags":["suspensao-incidente-demanda-repetitiva-resource"],"summary":"Associa uma lista de processos sobrestado a um recurso repetitivo","operationId":"saveProcessoSobrestado","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador Precendente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/representativo-controversia":{"get":{"tags":["representativo-controversia-resource"],"summary":"Pesquisa uma lista de representativos a partir de um filtro (paginado)","operationId":"list_1","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageRepresentativoControversiaRespostaDTO"}}}}}},"put":{"tags":["representativo-controversia-resource"],"summary":"Salva uma lista de representativos","operationId":"save_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RepresentativoControversiaDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/representativo-controversia/{idOrgao}/{numero}/processo-sobrestado":{"put":{"tags":["representativo-controversia-resource"],"summary":"Associa uma lista de processos sobrestado a um recurso repetitivo","operationId":"saveProcessoSobrestado_1","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador Precendente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/repercussao-geral":{"get":{"tags":["repercussao-geral-resource"],"summary":"Pesquisa uma lista de repercussões a partir de um filtro (paginado)","operationId":"list_2","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageRepercussaoGeralRespostaDTO"}}}}}},"put":{"tags":["repercussao-geral-resource"],"summary":"Salva uma lista de repercussões","operationId":"save_2","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RepercussaoGeralDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/repercussao-geral/{numero}/processo-sobrestado":{"put":{"tags":["repercussao-geral-resource"],"operationId":"saveProcessoSobrestado_2","parameters":[{"name":"numero","in":"path","description":"Número do Predecente","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/recurso-repetitivo":{"get":{"tags":["recurso-repetitivo-resource"],"summary":"Pesquisa uma lista de recursos repetitivos a partir de um filtro (paginado)","operationId":"list_3","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"tipo","in":"query","description":"Tipo do Recurso Repetivo","required":false,"schema":{"type":"string","enum":["ESPECIAL","REVISTA"]}},{"name":"pageNumber","in":"query","description":"Número de página.","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageRecursoRepetitivoRespostaDTO"}}}}}},"put":{"tags":["recurso-repetitivo-resource"],"summary":"Salva uma lista de recursos repetitivos","operationId":"save_3","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RecursoRepetitivoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/recurso-repetitivo/{numero}/{tipo}/processo-sobrestado":{"put":{"tags":["recurso-repetitivo-resource"],"operationId":"saveProcessoSobrestado_3","parameters":[{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"tipo","in":"path","description":"Tipo do Recurso Repetivo","required":true,"schema":{"type":"string","enum":["ESPECIAL","REVISTA"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/pedido-uniformizacao":{"get":{"tags":["pedido-uniformizacao-resource"],"summary":"Pesquisa uma lista de pedidos de uniformização a partir de um filtro (paginado)","operationId":"list_5","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de Página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagePedidoUniformizacaoRespostaDTO"}}}}}},"put":{"tags":["pedido-uniformizacao-resource"],"summary":"Salva uma lista de pedidos de uniformização","operationId":"save_4","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PedidoUniformizacaoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/pedido-uniformizacao/{idOrgao}/{numero}/processo-sobrestado":{"put":{"tags":["pedido-uniformizacao-resource"],"summary":"Associa uma lista de processos sobrestado a um recurso repetitivo","operationId":"saveProcessoSobrestado_4","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador Precendente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/nota-tecnica":{"get":{"tags":["nota-tecnica-resource"],"summary":"Pesquisa uma lista de notas técnicas a partir de um filtro (paginado)","operationId":"list_6","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageNotaTecnicaDTO"}}}}}},"put":{"tags":["nota-tecnica-resource"],"summary":"Salva uma lista de notas técnicas","operationId":"save_5","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotaTecnicaDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/incidente-demanda-repetitiva":{"get":{"tags":["incidente-demanda-repetitiva-resource"],"summary":"Pesquisa uma lista de incidentes a partir de um filtro (paginado)","operationId":"list_7","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageIncidenteDemandaRepetitivaRespostaDTO"}}}}}},"put":{"tags":["incidente-demanda-repetitiva-resource"],"summary":"Salva uma lista de incidentes","operationId":"save_6","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IncidenteDemandaRepetitivaDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/incidente-demanda-repetitiva/{idOrgao}/{numero}/processo-sobrestado":{"put":{"tags":["incidente-demanda-repetitiva-resource"],"summary":"Associa uma lista de processos sobrestado a um recurso repetitivo","operationId":"saveProcessoSobrestado_5","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador Precendente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/incidente-assuncao-competencia":{"get":{"tags":["incidente-assuncao-competencia-resource"],"summary":"Pesquisa uma lista de incidentes a partir de um filtro (paginado)","operationId":"list_8","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageIncidenteAssuncaoCompetenciaRespostaDTO"}}}}}},"put":{"tags":["incidente-assuncao-competencia-resource"],"summary":"Salva uma lista de incidentes","operationId":"save_7","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/IncidenteAssuncaoCompetenciaDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/incidente-assuncao-competencia/{idOrgao}/{numero}/processo-sobrestado":{"put":{"tags":["incidente-assuncao-competencia-resource"],"summary":"Associa uma lista de processos sobrestado a um recurso repetitivo","operationId":"saveProcessoSobrestado_6","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador Precendente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/grupo-representativo":{"get":{"tags":["grupo-representativo-resource"],"summary":"Pesquisa uma lista de grupos representativos a partir de um filtro (paginado)","operationId":"list_9","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageGrupoRepresentativoRespostaDTO"}}}}}},"put":{"tags":["grupo-representativo-resource"],"summary":"Salva uma lista de grupos representativos","operationId":"save_8","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GrupoRepresentativoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/grupo-representativo/{idOrgao}/{numero}/processo-sobrestado":{"put":{"tags":["grupo-representativo-resource"],"summary":"Associa uma lista de processos sobrestado a um recurso repetitivo","operationId":"saveProcessoSobrestado_7","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador Precendente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/enunciado":{"get":{"tags":["enunciado-resource"],"summary":"Pesquisa uma lista de enunciados a partir de um filtro (paginado)","operationId":"list_10","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"tipo","in":"query","description":"Tipo do enunciado","required":false,"schema":{"type":"string","enum":["ORDINARIA","ORIENTACAO_JURISPRUDENCIAL","SUMULA_VINCULANTE"]}},{"name":"pageNumber","in":"query","description":"Número de página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEnunciadoRespostaDTO"}}}}}},"put":{"tags":["enunciado-resource"],"summary":"Salva uma lista de enunciados","operationId":"save_9","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnunciadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/enunciado/{idOrgao}/{numero}/processo-sobrestado":{"put":{"tags":["enunciado-resource"],"summary":"Associa uma lista de processos sobrestado a um recurso repetitivo","operationId":"saveProcessoSobrestado_8","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador Precendente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/controversia":{"get":{"tags":["controversia-resource"],"summary":"Pesquisa uma lista de controvérsias a partir de um filtro (paginado)","operationId":"list_11","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de página","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageControversiaRespostaDTO"}}}}}},"put":{"tags":["controversia-resource"],"summary":"Salva uma lista de controvérsias","operationId":"save_10","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ControversiaDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/controversia/{idOrgao}/{numero}/processo-sobrestado":{"put":{"tags":["controversia-resource"],"summary":"Associa uma lista de processos sobrestado a um recurso repetitivo","operationId":"saveProcessoSobrestado_9","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador Precendente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProcessoSobrestadoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/controle-concentrado":{"get":{"tags":["controle-concentrado-resource"],"summary":"Pesquisa uma lista de Controle concentrado a partir de um filtro (paginado)","operationId":"list_12","parameters":[{"name":"idOrgao","in":"query","description":"Identificador do tribunal","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dataInicial","in":"query","description":"Data de atualização Inicial","required":false,"schema":{"type":"string","format":"date"}},{"name":"dataFinal","in":"query","description":"Data de atualização Final","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageNumber","in":"query","description":"Número de página.","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageControleConcentradoDTO"}}}}}},"put":{"tags":["controle-concentrado-resource"],"summary":"Salva uma lista de Controle concentrado","operationId":"save_11","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ControleConcentradoDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/suspensao-incidente-demanda-repetitiva/{idOrgao}/{numero}":{"get":{"tags":["suspensao-incidente-demanda-repetitiva-resource"],"summary":"Recupera uma suspensão de incidente pelo seu identificador","operationId":"get","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SuspensaoIncidenteDemandaRepetitivaRespostaDTO"}}}}}},"delete":{"tags":["suspensao-incidente-demanda-repetitiva-resource"],"summary":"Exclui uma suspensão de incidente pelo seu identificador","operationId":"delete","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/representativo-controversia/{idOrgao}/{numero}":{"get":{"tags":["representativo-controversia-resource"],"summary":"Recupera um representativo pelo seu identificador","operationId":"get_1","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RepresentativoControversiaRespostaDTO"}}}}}},"delete":{"tags":["representativo-controversia-resource"],"summary":"Exclui um representativo pelo seu identificador","operationId":"delete_1","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/repercussao-geral/{numero}":{"get":{"tags":["repercussao-geral-resource"],"summary":"Recupera uma repercussão geral pelo seu identificador","operationId":"get_2","parameters":[{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RepercussaoGeralRespostaDTO"}}}}}},"delete":{"tags":["repercussao-geral-resource"],"summary":"Exclui uma repercussão geral pelo seu identificador","operationId":"delete_2","parameters":[{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/recurso-repetitivo/{numero}/{tipo}":{"get":{"tags":["recurso-repetitivo-resource"],"summary":"Recupera um recurso repetitivo pelo seu identificador","operationId":"get_3","parameters":[{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"tipo","in":"path","description":"Tipo do Recurso Repetivo","required":true,"schema":{"type":"string","enum":["ESPECIAL","REVISTA"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RecursoRepetitivoRespostaDTO"}}}}}},"delete":{"tags":["recurso-repetitivo-resource"],"summary":"Exclui um recurso repetitivo pelo seu identificador","operationId":"delete_3","parameters":[{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"tipo","in":"path","description":"Tipo do Recurso Repetivo","required":true,"schema":{"type":"string","enum":["ESPECIAL","REVISTA"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/processo-sobrestado":{"get":{"tags":["processo-sobrestado-resource"],"summary":"Recupera uma lista de Processos Sobrestado a partir de um filtro (paginado).","operationId":"list_4","parameters":[{"name":"categoria","in":"query","description":"Categoria do precedente","required":false,"schema":{"type":"string","enum":["RR","IRR","RG","IAC","PUIL","IRDR","RCTNU","GR","CT","ENU","SIRDR","CC","NT"]}},{"name":"idTribunal","in":"query","description":"Identificador do Tribunal que enviou o Processo Sobrestado","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"numeroPrecedente","in":"query","description":"Número do precedente","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"query","description":"Número do processo","required":false,"schema":{"type":"string"}},{"name":"numeroOrgaoJulgador ","in":"query","description":" Código do Órgão Julgador em que foi realizado o sobrestamento, conforme lista de códigos do sistema corporativo do CNJ","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageNumber","in":"query","description":"Número de página.","required":false,"schema":{"type":"integer","format":"int32","default":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProcessoSobrestadoRespostaDTO"}}}}}},"delete":{"tags":["processo-sobrestado-resource"],"summary":"Exclui os processos sobrestado de um determinado orgão.","operationId":"deleteProcessoSobrestado_4","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/pedido-uniformizacao/{idOrgao}/{numero}":{"get":{"tags":["pedido-uniformizacao-resource"],"summary":"Recupera um pedido de uniformização pelo seu identificador","operationId":"get_4","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do Precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PedidoUniformizacaoRespostaDTO"}}}}}},"delete":{"tags":["pedido-uniformizacao-resource"],"summary":"Exclui um pedido de uniformização pelo seu identificador","operationId":"delete_4","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do Precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/nota-tecnica/{idOrgao}/{numero}":{"get":{"tags":["nota-tecnica-resource"],"summary":"Recupera uma nota técnica pelo seu identificador","operationId":"get_5","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número da nota técnica","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotaTecnicaDTO"}}}}}},"delete":{"tags":["nota-tecnica-resource"],"summary":"Exclui uma nota técnica pelo seu identificador","operationId":"delete_5","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número da nota técnica","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/incidente-demanda-repetitiva/{idOrgao}/{numero}":{"get":{"tags":["incidente-demanda-repetitiva-resource"],"summary":"Recupera um incidente pelo seu identificador","operationId":"get_6","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IncidenteDemandaRepetitivaRespostaDTO"}}}}}},"delete":{"tags":["incidente-demanda-repetitiva-resource"],"summary":"Exclui um precedente pelo seu identificador","operationId":"delete_6","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do Precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/incidente-assuncao-competencia/{idOrgao}/{numero}":{"get":{"tags":["incidente-assuncao-competencia-resource"],"summary":"Recupera um incidente pelo seu identificador","operationId":"get_7","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do Precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IncidenteAssuncaoCompetenciaRespostaDTO"}}}}}},"delete":{"tags":["incidente-assuncao-competencia-resource"],"summary":"Exclui um incidente pelo seu identificador","operationId":"delete_7","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do Precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/grupo-representativo/{idOrgao}/{numero}":{"get":{"tags":["grupo-representativo-resource"],"summary":"Recupera um grupo representativo pelo seu identificador","operationId":"get_8","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do Precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GrupoRepresentativoRespostaDTO"}}}}}},"delete":{"tags":["grupo-representativo-resource"],"summary":"Exclui um grupo representativo pelo seu identificador","operationId":"delete_8","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do Precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/enunciado/{idOrgao}/{numero}/{tipo}":{"get":{"tags":["enunciado-resource"],"summary":"Recupera um enunciado pelo seu identificador","operationId":"get_9","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"tipo","in":"path","description":"Tipo do enunciado","required":true,"schema":{"type":"string","enum":["ORDINARIA","ORIENTACAO_JURISPRUDENCIAL","SUMULA_VINCULANTE"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnunciadoRespostaDTO"}}}}}},"delete":{"tags":["enunciado-resource"],"summary":"Exclui um enunciado pelo seu identificador","operationId":"delete_9","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do Precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"tipo","in":"path","description":"Tipo do enunciado","required":true,"schema":{"type":"string","enum":["ORDINARIA","ORIENTACAO_JURISPRUDENCIAL","SUMULA_VINCULANTE"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/controversia/{idOrgao}/{numero}":{"get":{"tags":["controversia-resource"],"summary":"Recupera uma controvérsia pelo seu identificador","operationId":"get_10","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ControversiaRespostaDTO"}}}}}},"delete":{"tags":["controversia-resource"],"summary":"Exclui uma controvérsia pelo seu identificador","operationId":"delete_10","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/controle-concentrado/{idOrgao}/{numeroProcesso}/{classe}/{seqOrigem}":{"get":{"tags":["controle-concentrado-resource"],"summary":"Recupera um Controle concentrado pelo seu identificador","operationId":"get_11","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do tribunal","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"schema":{"type":"string"}},{"name":"seqOrigem","in":"path","description":"Sequencial de origem","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"classe","in":"path","description":"Código da Classe","required":true,"schema":{"type":"string","enum":["ADI","ADC","ADPF","ADO"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ControleConcentradoDTO"}}}}}}},"/pdpj/info":{"get":{"tags":["pdpj-resource"],"operationId":"obterInfo","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PdpjInfoVO"}}}}}}},"/v1/suspensao-incidente-demanda-repetitiva/{idOrgao}/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["suspensao-incidente-demanda-repetitiva-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/representativo-controversia/{idOrgao}/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["representativo-controversia-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado_1","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/repercussao-geral/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["repercussao-geral-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado_2","parameters":[{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do Processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/recurso-repetitivo/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["recurso-repetitivo-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado_3","parameters":[{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do Processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/pedido-uniformizacao/{idOrgao}/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["pedido-uniformizacao-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado_5","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/incidente-demanda-repetitiva/{idOrgao}/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["incidente-demanda-repetitiva-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado_6","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/incidente-assuncao-competencia/{idOrgao}/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["incidente-assuncao-competencia-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado_7","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/grupo-representativo/{idOrgao}/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["grupo-representativo-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado_8","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/enunciado/{idOrgao}/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["enunciado-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado_9","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/controversia/{idOrgao}/{numero}/processo-sobrestado/{numeroProcesso}":{"delete":{"tags":["controversia-resource"],"summary":"Exclui um processo sobrestado que está associado a um recurso repetitivo","operationId":"deleteProcessoSobrestado_10","parameters":[{"name":"idOrgao","in":"path","description":"Identificador do órgão julgador","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numero","in":"path","description":"Número do precedente","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"numeroProcesso","in":"path","description":"Número do processo","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/v1/controle-concentrado/{numeroProcesso}/{classe}/{seqOrigem}":{"delete":{"tags":["controle-concentrado-resource"],"summary":"Exclui um controle concentrado pelo seu identificador","operationId":"delete_11","parameters":[{"name":"numeroProcesso","in":"path","description":"Número do Processp","required":true,"schema":{"type":"string"}},{"name":"classe","in":"path","description":"Código da Classe","required":true,"schema":{"type":"string","enum":["ADI","ADC","ADPF","ADO"]}},{"name":"seqOrigem","in":"path","description":"Sequencial de origem","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/swagger-resources":{"get":{"tags":["api-resource-controller"],"operationId":"swaggerResources_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"put":{"tags":["api-resource-controller"],"operationId":"swaggerResources_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"post":{"tags":["api-resource-controller"],"operationId":"swaggerResources_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"delete":{"tags":["api-resource-controller"],"operationId":"swaggerResources_5","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"options":{"tags":["api-resource-controller"],"operationId":"swaggerResources_6","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"head":{"tags":["api-resource-controller"],"operationId":"swaggerResources_4","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}},"patch":{"tags":["api-resource-controller"],"operationId":"swaggerResources","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SwaggerResource"}}}}}}}},"/swagger-resources/configuration/ui":{"get":{"tags":["api-resource-controller"],"operationId":"uiConfiguration_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiConfiguration"}}}}}},"put":{"tags":["api-resource-controller"],"operationId":"uiConfiguration_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiConfiguration"}}}}}},"post":{"tags":["api-resource-controller"],"operationId":"uiConfiguration_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiConfiguration"}}}}}},"delete":{"tags":["api-resource-controller"],"operationId":"uiConfiguration_5","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiConfiguration"}}}}}},"options":{"tags":["api-resource-controller"],"operationId":"uiConfiguration_6","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiConfiguration"}}}}}},"head":{"tags":["api-resource-controller"],"operationId":"uiConfiguration_4","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiConfiguration"}}}}}},"patch":{"tags":["api-resource-controller"],"operationId":"uiConfiguration","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiConfiguration"}}}}}}},"/swagger-resources/configuration/security":{"get":{"tags":["api-resource-controller"],"operationId":"securityConfiguration_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SecurityConfiguration"}}}}}},"put":{"tags":["api-resource-controller"],"operationId":"securityConfiguration_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SecurityConfiguration"}}}}}},"post":{"tags":["api-resource-controller"],"operationId":"securityConfiguration_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SecurityConfiguration"}}}}}},"delete":{"tags":["api-resource-controller"],"operationId":"securityConfiguration_5","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SecurityConfiguration"}}}}}},"options":{"tags":["api-resource-controller"],"operationId":"securityConfiguration_6","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SecurityConfiguration"}}}}}},"head":{"tags":["api-resource-controller"],"operationId":"securityConfiguration_4","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SecurityConfiguration"}}}}}},"patch":{"tags":["api-resource-controller"],"operationId":"securityConfiguration","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SecurityConfiguration"}}}}}}}},"components":{"schemas":{"LimiteSuspensaoDTO":{"required":["parametro"],"type":"object","properties":{"parametro":{"type":"string","description":"Parâmetro do Limite da Suspensão de processos.","enum":["SUSPENSAO_NACIONAL","SUSPENSAO_NACIONAL_EXCETO_JUIZADO","PROCESSOS_EM_SEGUNDA_INSTANCIA","RECURSOS_EXTRAORDINARIOS","PROCESSOS_EM_PRIMEIRA_INSTANCIA","PROCESSOS_EM_PRIMEIRA_INSTANCIA_EXCETO_JUIZADOS_ESPECIAIS","PROCESSOS_JUIZADOS_ESPECIAIS","PROCESSOS_EM_TURMAS_RECURSAIS","SOMENTE_AMBITO_TRIBUNAL","NAO_SUSPENDER","NAO_SUSPENDER_ART_1030_III_CPC","ABRANGENCIA_ESPECIFICA"]},"detalheAbrangenciaEspecifica":{"maxLength":1000,"type":"string","description":"Campo livre a ser preenchido pelo tribunal em caso de parâmetro abrangência específica."},"dataSuspensao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da determinação de suspensão de processos: data a partir da qual entrou em vigor a ordem de suspensão de processos.","format":"date"},"linkDecisao":{"maxLength":1000,"type":"string","description":"Link da Decisão de Suspensão: link que dá acesso à decisão que determinou a Suspensão de processos."},"dataFimSuspensao":{"pattern":"yyyy-MM-dd","type":"string","description":"Armazena a data final da determinação de suspensão de processos: data a partir da qual deixou de vigorar a ordem de suspensão de processos.","format":"date"}},"description":"Limite da Suspensão Geral: descrição se a ordem de suspensão foi geral ou parcial."},"ProcessoDTO":{"required":["classe"],"type":"object","properties":{"classe":{"type":"integer","description":"Código da Classe do processo","format":"int32"},"numero":{"maxLength":20,"type":"string","description":"Número do processo (Resolução Nº 65 de 16/12/2008). Preencher somente com números.","example":"00046303120202000000"},"link":{"maxLength":2000,"type":"string","description":"Link de acesso ao Processo: texto do hiperlink que dá acesso à página de acompanhamento processual do processo na página de acompanhamento processual do tribunal"},"numeroUnico":{"maxLength":100,"type":"string","description":"Armazena o número único do processo no tribunal de origem, somente é usado para números anteriores à Resolução Nº 65 de 16/12/2008."},"orgaoNumeroUnico":{"type":"integer","description":"Armazena o número do orgão de origem do processo, somente é usado quando o número único for preenchido.","format":"int32"}},"description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para integrar a SIRDR."},"SuspensaoIncidenteDemandaRepetitivaDTO":{"required":["assuntos","limiteSuspensao","link","relator","situacao","suspensaoGeral","tribunal"],"type":"object","properties":{"numero":{"type":"integer","description":"Tema de SIRDR: tema no qual foi determinada a suspensão geral.","format":"int32"},"tribunal":{"type":"string","description":"Tribunal de origem do tema no qual foi determinada a suspensão geral.","enum":["TRF1","TRF2","TRF3","TRF4","TRF5","TJAC","TJAL","TJAM","TJAP","TJBA","TJCE","TJDFT","TJES","TJGO","TJMA","TJMG","TJMS","TJMT","TJPA","TJPB","TJPE","TJPI","TJPR","TJRJ","TJRN","TJRO","TJRR","TJRS","TJSC","TJSE","TJSP","TJTO","TJMRS","STJ","TSE","TRT1","TRT2","TRT3","TRT4","TRT5","TRT6","TRT7","TRT8","TRT9","TRT10","TRT11","TRT12","TRT13","TRT14","TRT15","TRT16","TRT17","TRT18","TRT19","TRT20","TRT21","TRT22","TRT23","TRT24","TST","TRE_AC","TRE_AL","TRE_AP","TRE_AM","TRE_BA","TRE_CE","TRE_DF","TRE_ES","TRE_GO","TRE_MA","TRE_MT","TRE_MS","TRE_MG","TRE_PA","TRE_PB","TRE_PR","TRE_PE","TRE_PI","TRE_RJ","TRE_RN","TRE_RS","TRE_RR","TRE_SC","TRE_SP","TRE_SE","TRE_TO","TRE_RO","STM","TJMSP","TJMMG","STF","TRF6"]},"situacao":{"type":"string","description":"Situação do Tema: descrição da situação do Tema objeto da SIRDR.","enum":["EM_TRAMITACAO","SUSPENSAO_DEFERIDA","SUSPENSAO_INDEFERIDA","VINCULADA_AO_TEMA","PREJUDICADA","FINALIZADA_DETERMINACAO_DE_SUSPENSAO","CANCELADA","SOBRESTADA"]},"relator":{"maxLength":255,"type":"string","description":"Relator: magistrado relator da SIRDR."},"link":{"maxLength":2000,"type":"string","description":"Link de acesso à SIRDR: texto do hiperlink que dá acesso à página de acompanhamento processual do(s) processo(s) de SIRDR."},"assuntos":{"maxLength":1000,"type":"string","description":"Assunto: código de descrição do(s) Assunto(s) referente(s) à questão submetida a julgamento no IRDR, de acordo com o último nível constante da Tabela Processual Unificada do CNJ (separados por vírgula)."},"referenciaLegislativa":{"maxLength":1000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o Tema de SIRDR."},"suspensaoGeral":{"type":"boolean","description":"Suspensão Geral: informação quanto à determinação do TSE, STJ ou do TST de suspensão nacional de processos que possuam a mesma questão submetida a julgamento em IRDR (art. 1.029, § 4o , do CPC)"},"limiteSuspensao":{"$ref":"#/components/schemas/LimiteSuspensaoDTO"},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para integrar a SIRDR.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataSituacao":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"textoTemaSirdr":{"maxLength":6000,"type":"string","description":"Armazena descrição do tema no qual foi determinada a suspensão geral."},"textoQuestaoSirdr":{"maxLength":6000,"type":"string","description":"Armazena a descrição da questão Submetida a Julgamento/delimitação da matéria a ser decidida."}}},"ProcessoSobrestadoDTO":{"required":["classe","dataDistribuicao","dataSobrestamento","numeroOrgaoJulgador"],"type":"object","properties":{"classe":{"type":"integer","description":"Código da Classe do processo","format":"int32"},"numero":{"maxLength":20,"type":"string","description":"Número do processo (Resolução Nº 65 de 16/12/2008). Preencher somente com números.","example":"00046303120202000000"},"link":{"maxLength":2000,"type":"string","description":"Link de acesso ao Processo: texto do hiperlink que dá acesso à página de acompanhamento processual do processo na página de acompanhamento processual do tribunal"},"numeroUnico":{"maxLength":100,"type":"string","description":"Armazena o número único do processo no tribunal de origem, somente é usado para números anteriores à Resolução Nº 65 de 16/12/2008."},"orgaoNumeroUnico":{"type":"integer","description":"Armazena o número do orgão de origem do processo, somente é usado quando o número único for preenchido.","format":"int32"},"dataDistribuicao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da distribuição ou do recebimento do processo sobrestado na instância ou grau de jurisdição em que ocorreu o sobrestamento.","format":"date"},"dataSobrestamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do sobrestamento do processo.","format":"date"},"dataLevantamentoSobrestamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data de levantamento do sobrestamento.","format":"date"},"dataJulgamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do julgamento: a data do lançamento do movimento processual de julgamento do processo.","format":"date"},"decisaoMerito":{"type":"boolean","description":"Decisão de Mérito: sinalização se a decisão a que se refere a data de julgamento possui resolução de mérito ou não"},"dataTransitoJulgado":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do trânsito em julgado do processo sobrestado.","format":"date"},"dataBaixa":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da baixa do processo sobrestado.","format":"date"},"numeroOrgaoJulgador":{"type":"integer","description":"Código do Órgão Julgador em que foi realizado o sobrestamento, conforme lista de códigos do sistema corporativo do CNJ.","format":"int32"}}},"RepresentativoControversiaDTO":{"required":["assuntos","numero","questao","relator","situacao"],"type":"object","properties":{"numero":{"type":"integer","description":"Número sequencial do tema objeto do processo afetado/admitido, conforme organização do STJ, do STM, do TSE, do TST, dos TJs, TRFs, TREs, TRTs e TNU.","format":"int32"},"questao":{"maxLength":4000,"type":"string","description":"Questão Submetida a Julgamento: delimitação da matéria a ser decidida."},"tese":{"maxLength":4000,"type":"string","description":"Tese Firmada: conclusão do órgão julgador referente à questão submetida a julgamento."},"textoDecisaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto da decisão de admissão/afetação."},"textoEmentaAdmissao":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão de admissão/afetação."},"textoAcordaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão em que realizada a admissão ou afetação."},"textoEmentaMerito":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão que julgou o mérito."},"textoAcordaoMerito":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão que apreciou o mérito."},"textoDecisaoSuspensao":{"maxLength":4000,"type":"string","description":"Texto da decisão determinando a suspensão de processos correlatos ao tema (quando não estiver contido no inteiro teor do acórdão de admissão ou afetação)."},"numeroTemaSobrestado":{"type":"integer","description":"Número do tema quando a situação é de Sobrestado por Tema STF, STJ ou TST.","format":"int64"},"relator":{"maxLength":255,"type":"string","description":"Magistrado relator do processo submetido a julgamento."},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para julgamento.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataAdmissao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da Admissão.","format":"date"},"dataJulgamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do julgamento do mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataPublicacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da publicação do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataTransitoJulgado":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do trânsito em julgado do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"assuntos":{"maxLength":4000,"type":"string","description":"Código de descrição do(s) Assunto(s) referente(s) à questão submetida a julgamento, de acordo com o último nível constante da Tabela Processual Unificada do CNJ (separados por vírgulas)."},"referenciaLegislativa":{"maxLength":4000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o Tema."},"limiteSuspensao":{"$ref":"#/components/schemas/LimiteSuspensaoDTO"},"dataSituacao":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"situacao":{"type":"string","description":"Situação do Tema: descrição da situação do Tema.","enum":["AFETADO","AFETADO_POSSIVEL_REVISAO_TESE","EM_JULGAMENTO","MERITO_JULGADO","ACORDAO_PUBLICADO","ACORDAO_PUBLICADO_RE_PENDENTE","ACORDAO_PUBLICADO_PUIL_PENDENTE","TRANSITADO_EM_JULGADO","SOBRESTADO_POR_TEMA_STF","SOBRESTADO_POR_TEMA_STJ","SOBRESTADO_OUTRO_MOTIVO","REVISADO","CANCELADO","SEM_PROCESSO_VINCULADO"]}}},"RepercussaoGeralDTO":{"required":["assuntos","numero","questao","relator","situacao"],"type":"object","properties":{"numero":{"type":"integer","description":"Número sequencial do tema objeto do processo afetado/admitido, conforme organização do STJ, do STM, do TSE, do TST, dos TJs, TRFs, TREs, TRTs e TNU.","format":"int32"},"questao":{"maxLength":4000,"type":"string","description":"Questão Submetida a Julgamento: delimitação da matéria a ser decidida."},"tese":{"maxLength":4000,"type":"string","description":"Tese Firmada: conclusão do órgão julgador referente à questão submetida a julgamento."},"textoDecisaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto da decisão de admissão/afetação."},"textoEmentaAdmissao":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão de admissão/afetação."},"textoAcordaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão em que realizada a admissão ou afetação."},"textoEmentaMerito":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão que julgou o mérito."},"textoAcordaoMerito":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão que apreciou o mérito."},"textoDecisaoSuspensao":{"maxLength":4000,"type":"string","description":"Texto da decisão determinando a suspensão de processos correlatos ao tema (quando não estiver contido no inteiro teor do acórdão de admissão ou afetação)."},"numeroTemaSobrestado":{"type":"integer","description":"Número do tema quando a situação é de Sobrestado por Tema STF, STJ ou TST.","format":"int64"},"relator":{"maxLength":255,"type":"string","description":"Magistrado relator do processo submetido a julgamento."},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para julgamento.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataAdmissao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da Admissão.","format":"date"},"dataJulgamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do julgamento do mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataPublicacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da publicação do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataTransitoJulgado":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do trânsito em julgado do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"assuntos":{"maxLength":4000,"type":"string","description":"Código de descrição do(s) Assunto(s) referente(s) à questão submetida a julgamento, de acordo com o último nível constante da Tabela Processual Unificada do CNJ (separados por vírgulas)."},"referenciaLegislativa":{"maxLength":4000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o Tema."},"limiteSuspensao":{"$ref":"#/components/schemas/LimiteSuspensaoDTO"},"dataSituacao":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"situacao":{"type":"string","description":"Situação do Tema: descrição da situação do Tema.","enum":["AFETADO","AFETADO_POSSIVEL_REVISAO_TESE","EM_JULGAMENTO","MERITO_JULGADO","ACORDAO_PUBLICADO","ACORDAO_PUBLICADO_RE_PENDENTE","TRANSITADO_EM_JULGADO","SOBRESTADO_POR_TEMA_STF","SOBRESTADO_OUTRO_MOTIVO","REVISADO","CANCELADO","SEM_PROCESSO_VINCULADO","DESTACADO"]},"analise":{"type":"string","description":"Análise da repercussão geral.","enum":["ADMISSIBILIDADE","NAO_HA","NAO_HA_QUESTAO_INFRACONSTITUCIONAL","HA","HA_JURISPRUDENCIA","EM_ANALISE"]}}},"RecursoRepetitivoDTO":{"required":["assuntos","numero","questao","relator","situacao","tipoRecurso"],"type":"object","properties":{"numero":{"type":"integer","description":"Número sequencial do tema objeto do processo afetado/admitido, conforme organização do STJ, do STM, do TSE, do TST, dos TJs, TRFs, TREs, TRTs e TNU.","format":"int32"},"questao":{"maxLength":4000,"type":"string","description":"Questão Submetida a Julgamento: delimitação da matéria a ser decidida."},"tese":{"maxLength":4000,"type":"string","description":"Tese Firmada: conclusão do órgão julgador referente à questão submetida a julgamento."},"textoDecisaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto da decisão de admissão/afetação."},"textoEmentaAdmissao":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão de admissão/afetação."},"textoAcordaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão em que realizada a admissão ou afetação."},"textoEmentaMerito":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão que julgou o mérito."},"textoAcordaoMerito":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão que apreciou o mérito."},"textoDecisaoSuspensao":{"maxLength":4000,"type":"string","description":"Texto da decisão determinando a suspensão de processos correlatos ao tema (quando não estiver contido no inteiro teor do acórdão de admissão ou afetação)."},"numeroTemaSobrestado":{"type":"integer","description":"Número do tema quando a situação é de Sobrestado por Tema STF, STJ ou TST.","format":"int64"},"relator":{"maxLength":255,"type":"string","description":"Magistrado relator do processo submetido a julgamento."},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para julgamento.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataAdmissao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da Admissão.","format":"date"},"dataJulgamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do julgamento do mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataPublicacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da publicação do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataTransitoJulgado":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do trânsito em julgado do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"assuntos":{"maxLength":4000,"type":"string","description":"Código de descrição do(s) Assunto(s) referente(s) à questão submetida a julgamento, de acordo com o último nível constante da Tabela Processual Unificada do CNJ (separados por vírgulas)."},"referenciaLegislativa":{"maxLength":4000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o Tema."},"limiteSuspensao":{"$ref":"#/components/schemas/LimiteSuspensaoDTO"},"dataSituacao":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"situacao":{"type":"string","description":"Situação do Tema: descrição da situação do Tema.","enum":["AFETADO","AFETADO_POSSIVEL_REVISAO_TESE","EM_JULGAMENTO","MERITO_JULGADO","ACORDAO_PUBLICADO","ACORDAO_PUBLICADO_RE_PENDENTE","TRANSITADO_EM_JULGADO","SOBRESTADO_POR_TEMA_STF","SOBRESTADO_OUTRO_MOTIVO","REVISADO","CANCELADO","SEM_PROCESSO_VINCULADO"]},"tipoRecurso":{"type":"string","description":"Tipo de Recurso Repetitivo: Recurso Especial Repetitivo ou Recurso de Revista Repetitivo","enum":["ESPECIAL","REVISTA"]}}},"PedidoUniformizacaoDTO":{"required":["assuntos","numero","questao","relator","situacao"],"type":"object","properties":{"numero":{"type":"integer","description":"Número sequencial do tema objeto do processo afetado/admitido, conforme organização do STJ, do STM, do TSE, do TST, dos TJs, TRFs, TREs, TRTs e TNU.","format":"int32"},"questao":{"maxLength":4000,"type":"string","description":"Questão Submetida a Julgamento: delimitação da matéria a ser decidida."},"tese":{"maxLength":4000,"type":"string","description":"Tese Firmada: conclusão do órgão julgador referente à questão submetida a julgamento."},"textoDecisaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto da decisão de admissão/afetação."},"textoEmentaAdmissao":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão de admissão/afetação."},"textoAcordaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão em que realizada a admissão ou afetação."},"textoEmentaMerito":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão que julgou o mérito."},"textoAcordaoMerito":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão que apreciou o mérito."},"textoDecisaoSuspensao":{"maxLength":4000,"type":"string","description":"Texto da decisão determinando a suspensão de processos correlatos ao tema (quando não estiver contido no inteiro teor do acórdão de admissão ou afetação)."},"numeroTemaSobrestado":{"type":"integer","description":"Número do tema quando a situação é de Sobrestado por Tema STF, STJ ou TST.","format":"int64"},"relator":{"maxLength":255,"type":"string","description":"Magistrado relator do processo submetido a julgamento."},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para julgamento.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataAdmissao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da Admissão.","format":"date"},"dataJulgamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do julgamento do mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataPublicacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da publicação do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataTransitoJulgado":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do trânsito em julgado do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"assuntos":{"maxLength":4000,"type":"string","description":"Código de descrição do(s) Assunto(s) referente(s) à questão submetida a julgamento, de acordo com o último nível constante da Tabela Processual Unificada do CNJ (separados por vírgulas)."},"referenciaLegislativa":{"maxLength":4000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o Tema."},"limiteSuspensao":{"$ref":"#/components/schemas/LimiteSuspensaoDTO"},"dataSituacao":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"situacao":{"type":"string","description":"Situação do Tema: descrição da situação do Tema.","enum":["AGUARDANDO_PRONUNCIAMENTO_DO_TRIBUNAL_SUPERIOR","AGUARDANDO_ANALISE_DE_ADMISSAO","ADMITIDO","ADMITIDO_POSSIVEL_REVISAO_TESE","RECUSADO","EM_JULGAMENTO","MERITO_JULGADO","ACORDAO_PUBLICADO","ACORDAO_PUBLICADO_RE_PENDENTE","TRANSITADO_EM_JULGADO","SOBRESTADO_POR_TEMA_STF","SOBRESTADO_OUTRO_MOTIVO","REVISADO","CANCELADO","SEM_PROCESSO_VINCULADO"]}}},"NotaTecnicaDTO":{"required":["dataSituacao","descricaoCentroInteligencia","linkNotaTecnica","numero","orgao","situacao","textoEmenta","textoNotaTecnica","textoRamoDireito"],"type":"object","properties":{"numero":{"type":"integer","description":"Número da nota técnica: número sequencial da nota técnica.","format":"int32"},"textoNotaTecnica":{"maxLength":4000,"type":"string","description":"Armazena o texto da nota técnica."},"descricaoReferenciaLegislativa":{"maxLength":4000,"type":"string","description":"Armazena a descrição dos dispositivo(s) legal(is) sobre o(s) qual(is) recai nota técnica."},"situacao":{"type":"string","description":"Armazena o tipo da situação da nota técnica; valores possíveis:1=Vigente; 2=Superado; 3= Cancelado; 4=Revisado; 5=Em Revisão.","enum":["VIGENTE","SUPERADO","CANCELADO","REVISADO","EM_REVISAO"]},"dataSituacao":{"type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"textoEmenta":{"maxLength":6000,"type":"string","description":"Armazena o texto da ementa da nota técnica criada."},"textoRamoDireito":{"maxLength":255,"type":"string","description":"Armazena o ramo do direito ao qual a nota técnica pertence."},"descricaoCentroInteligencia":{"maxLength":255,"type":"string","description":"Armazena a descrição do centro de inteligência que criou a nota técnica."},"linkNotaTecnica":{"maxLength":2000,"type":"string","description":"Armazena o link de acesso à íntegra da nota técnica."},"orgao":{"type":"integer","description":"Armazena o identificador único de um órgão julgador competente para julgamento do processo submetido a julgamento como precedente; esse identificador é originado da tabela orgao do Corporativo.","format":"int32"},"tipoNotaTecnica":{"type":"string","description":"Armazena o tipo da nota técnica: NOTA_TECNICA, NOTA_DE_ADESAO","enum":["NOTA_TECNICA","NOTA_DE_ADESAO"]},"codAssuntos":{"type":"string","description":"Armazena uma lista de identificadores de assuntos judiciais, separados por ponto e vírgula; esses identificadores são originados do SGT."}}},"IncidenteDemandaRepetitivaDTO":{"required":["assuntos","numero","questao","relator","situacao"],"type":"object","properties":{"numero":{"type":"integer","description":"Número sequencial do tema objeto do processo afetado/admitido, conforme organização do STJ, do STM, do TSE, do TST, dos TJs, TRFs, TREs, TRTs e TNU.","format":"int32"},"questao":{"maxLength":4000,"type":"string","description":"Questão Submetida a Julgamento: delimitação da matéria a ser decidida."},"tese":{"maxLength":4000,"type":"string","description":"Tese Firmada: conclusão do órgão julgador referente à questão submetida a julgamento."},"textoDecisaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto da decisão de admissão/afetação."},"textoEmentaAdmissao":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão de admissão/afetação."},"textoAcordaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão em que realizada a admissão ou afetação."},"textoEmentaMerito":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão que julgou o mérito."},"textoAcordaoMerito":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão que apreciou o mérito."},"textoDecisaoSuspensao":{"maxLength":4000,"type":"string","description":"Texto da decisão determinando a suspensão de processos correlatos ao tema (quando não estiver contido no inteiro teor do acórdão de admissão ou afetação)."},"numeroTemaSobrestado":{"type":"integer","description":"Número do tema quando a situação é de Sobrestado por Tema STF, STJ ou TST.","format":"int64"},"relator":{"maxLength":255,"type":"string","description":"Magistrado relator do processo submetido a julgamento."},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para julgamento.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataAdmissao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da Admissão.","format":"date"},"dataJulgamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do julgamento do mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataPublicacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da publicação do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataTransitoJulgado":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do trânsito em julgado do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"assuntos":{"maxLength":4000,"type":"string","description":"Código de descrição do(s) Assunto(s) referente(s) à questão submetida a julgamento, de acordo com o último nível constante da Tabela Processual Unificada do CNJ (separados por vírgulas)."},"referenciaLegislativa":{"maxLength":4000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o Tema."},"limiteSuspensao":{"$ref":"#/components/schemas/LimiteSuspensaoDTO"},"dataSituacao":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"situacao":{"type":"string","description":"Situação do Tema: descrição da situação do Tema.","enum":["SUSCITADO","ADMITIDO","ADMITIDO_POSSIVEL_REVISAO_TESE","NAO_ADMITIDO","EM_JULGAMENTO","MERITO_JULGADO","ACORDAO_PUBLICADO","ACORDAO_PUBLICADO_RE_PENDENTE","ACORDAO_PUBLICADO_ARE_PENDENTE","ACORDAO_PUBLICADO_RESP_PENDENTE","ACORDAO_PUBLICADO_ARESP_PENDENTE","ACORDAO_PUBLICADO_RECREV_PENDENTE","SOBRESTADO_POR_TEMA_STF","SOBRESTADO_POR_TEMA_STJ","SOBRESTADO_POR_TEMA_TST","SOBRESTADO_OUTRO_MOTIVO","TRANSITADO_EM_JULGADO","REVISADO","CANCELADO","SEM_PROCESSO_VINCULADO"]},"processosIncidente":{"type":"array","description":"Processo(s) Incidente(s): processo(s) no(s) qual(is) se suscitou ou no(s) qual(is) foi suscitado o(s) IRDR.","items":{"$ref":"#/components/schemas/ProcessoDTO"}}}},"IncidenteAssuncaoCompetenciaDTO":{"required":["assuntos","numero","questao","relator","situacao"],"type":"object","properties":{"numero":{"type":"integer","description":"Número sequencial do tema objeto do processo afetado/admitido, conforme organização do STJ, do STM, do TSE, do TST, dos TJs, TRFs, TREs, TRTs e TNU.","format":"int32"},"questao":{"maxLength":4000,"type":"string","description":"Questão Submetida a Julgamento: delimitação da matéria a ser decidida."},"tese":{"maxLength":4000,"type":"string","description":"Tese Firmada: conclusão do órgão julgador referente à questão submetida a julgamento."},"textoDecisaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto da decisão de admissão/afetação."},"textoEmentaAdmissao":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão de admissão/afetação."},"textoAcordaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão em que realizada a admissão ou afetação."},"textoEmentaMerito":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão que julgou o mérito."},"textoAcordaoMerito":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão que apreciou o mérito."},"textoDecisaoSuspensao":{"maxLength":4000,"type":"string","description":"Texto da decisão determinando a suspensão de processos correlatos ao tema (quando não estiver contido no inteiro teor do acórdão de admissão ou afetação)."},"numeroTemaSobrestado":{"type":"integer","description":"Número do tema quando a situação é de Sobrestado por Tema STF, STJ ou TST.","format":"int64"},"relator":{"maxLength":255,"type":"string","description":"Magistrado relator do processo submetido a julgamento."},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para julgamento.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataAdmissao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da Admissão.","format":"date"},"dataJulgamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do julgamento do mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataPublicacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da publicação do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataTransitoJulgado":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do trânsito em julgado do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"assuntos":{"maxLength":4000,"type":"string","description":"Código de descrição do(s) Assunto(s) referente(s) à questão submetida a julgamento, de acordo com o último nível constante da Tabela Processual Unificada do CNJ (separados por vírgulas)."},"referenciaLegislativa":{"maxLength":4000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o Tema."},"limiteSuspensao":{"$ref":"#/components/schemas/LimiteSuspensaoDTO"},"dataSituacao":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"situacao":{"type":"string","description":"Situação do Tema: descrição da situação do Tema.","enum":["SUSCITADO","ADMITIDO","ADMITIDO_POSSIVEL_REVISAO_TESE","NAO_ADMITIDO","ACORDAO_PUBLICADO_MERITO","ACORDAO_PUBLICADO_RE_PENDENTE","ACORDAO_PUBLICADO_RESP_PENDENTE","ACORDAO_PUBLICADO_RECURSO_REVISTA_PENDENTE","SOBRESTADO_POR_TEMA_STF","SOBRESTADO_POR_TEMA_STJ","SOBRESTADO_POR_TEMA_TST","SOBRESTADO_OUTRO_MOTIVO","TRANSITADO_EM_JULGADO","CANCELADO","REVISADO","EM_JULGAMENTO"]},"processosIncidente":{"type":"array","description":"Processo(s) Incidente(s): processo(s) no(s) qual(is) se suscitou ou no(s) qual(is) foi suscitado o(s) IAC.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataInstauracao":{"pattern":"dd/MM/yyyy","type":"string","description":"Data da Instauração do IAC: data da instauração do IAC (decisão unipessoal - art. 947, § 1o , do CPC).","format":"date"}}},"GrupoRepresentativoDTO":{"required":["dataCriacao","descricao","numero","situacao"],"type":"object","properties":{"numero":{"type":"integer","description":"Número do Grupo de Representativos: número sequencial em cada tribunal do Grupo de Representativos.","format":"int32"},"descricao":{"maxLength":1000,"type":"string","description":"Descrição do Grupo de Representativos: verbete descritivo da matéria discutida nos processos selecionados como representativos da controvérsia."},"situacao":{"type":"string","description":"Situação do Grupo de Representativos: descrição da situação do Grupo de Representativos em relação ao andamento, no respectivo tribunal superior, dos processos selecionados.","enum":["AGUARDANDO_PRONUNCIAMENTO_DO_TRIBUNAL_SUPERIOR","GRUPO_SEM_PROCESSO_ATIVO_NO_TRIBUNAL_SUPERIOR","VINCULADO_A_CONTROVERSIA_STF","VINCULADO_A_CONTROVERSIA_STJ","VINCULADO_AO_TEMA_STF","VINCULADO_AO_TEMA_STJ","CANCELADO"]},"numeroTemaVinculado":{"type":"integer","description":"Número do tema quando a situação é de Vinculado ao Tema STJ ou TST.","format":"int32"},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) como representativos da controvérsia.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataCriacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da criação do grupo de representativos que será aquela correspondente ao cumprimento da primeira decisão que admitiu um recurso como representativo da controvérsia.","format":"date"},"dataSituacaoGrupoRepresentativo":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"}}},"EnunciadoDTO":{"required":["dataCriacao","numero","situacao","texto","tipo"],"type":"object","properties":{"numero":{"type":"integer","description":"Número do Enunciado: número sequencial do enunciado de súmula ou da orientação jurisprudencial em cada tribunal.","format":"int32"},"texto":{"maxLength":4000,"type":"string","description":"Texto do Enunciado: verbete descritivo da matéria sumulada."},"situacao":{"type":"string","description":"Situação do Enunciado: descrição da situação do enunciado de súmula ou da orientação jurisprudencial","enum":["VIGENTE","SUPERADO","CANCELADO","REVISADO","EM_REVISAO","ALTERADO","APROVADO","PUBLICACAO_SUSPENSA"]},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) julgado(s) que serviram de parâmetro para a construção do enunciado","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"tipo":{"type":"string","description":"Tipo do Enunciado: ordinária e orientação jurisprudencial","enum":["ORDINARIA","ORIENTACAO_JURISPRUDENCIAL","SUMULA_VINCULANTE"]},"dataCriacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da criação do enunciado que será aquela correspondente à sua publicação no diário de justiça.","format":"date"},"referenciaLegislativa":{"maxLength":4000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o enunciado."},"linkAcordaos":{"maxLength":2000,"type":"string","description":"Link de acesso ao(s) acórdão(s) dos julgados que deram origem ao verbete."},"dataSituacao":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"textoQuestao":{"maxLength":6000,"type":"string","description":"Armazena a descrição da questão do resumo do enunciado."}}},"ControversiaDTO":{"required":["descricao","descricaoPartesProcesso","numero","situacao"],"type":"object","properties":{"numero":{"type":"integer","description":"Número da Controvérsia: número sequencial em cada tribunal da controvérsia.","format":"int32"},"descricao":{"maxLength":4000,"type":"string","description":"Descrição da Controvérsia: verbete descritivo da matéria discutida nos processos selecionados como integrantes da controvérsia."},"situacao":{"type":"string","description":"Situação da Controvérsia: descrição da situação da controvérsia em relação ao andamento, no respectivo tribunal superior, dos processos selecionados","enum":["CONTROVERSIA_PENDENTE","CONTROVERSIA_VINCULADA_AO_TEMA_STJ","CONTROVERSIA_VINCULADA_AO_TEMA_TST","CONTROVERSIA_CANCELADA","CONTROVERSIA_SOBRESTADA","CONTROVERSIA_PENDENTE_IRDR"]},"numeroTemaVinculado":{"type":"integer","description":"Número do tema quando a situação é de Vinculado ao Tema STJ ou TST.","format":"int32"},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para integrar a controvérsia.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataCriacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da criação da controvérsia que será aquela correspondente ao cumprimento de decisão que a admitiu ou da disponibilização da controvérsia, de acordo com regramento próprio no âmbito do STJ ou do TST. ","format":"date"},"descricaoPartesProcesso":{"maxLength":4000,"type":"string","description":"Armazena a lista de nomes das partes do(s) processo(s) selecionado(s) para integrar(em) a controvérsia, conforme cadastrado pelo setor de autuação. Cada nome de parte é separado por ponto e vírgula."},"dataSituacaoControversia":{"pattern":"dd/MM/yyyy","type":"string","description":"Armazena a data da última situação do precedente.","format":"date"}}},"ControleConcentradoDTO":{"required":["cautelar","codListaAssunto","decisao","nomRelator","numProcesso","tipoClasse"],"type":"object","properties":{"tipoClasse":{"type":"string","description":"Armazena o código da classe do processo. Domínios: ADI = Ação Direta de Inconstitucionalidade; ADC = Ação Declaratória de Constitucionalidade; ADPF = Ação de Descumprimento de Preceito Fundamental; ADO = Ação Direta de Inconstitucionalidade por Omissão.","enum":["ADI","ADC","ADPF","ADO"]},"numProcesso":{"type":"string","description":"Armazena o número do processo"},"cautelar":{"type":"string","description":"Armazena a informação se o controle concentrado é cautelar (sim ou não).","enum":["SIM","NAO"]},"nomRelator":{"type":"string","description":"Armazena o nome completo do magistrado, relator do controle_concentrado."},"textoAtoImpugnado":{"type":"string","description":"Armazena os dispositivos legais impugnados na ação de controle concentrado."},"textoDecisao":{"type":"string","description":"Armazena o conteúdo da decisão do julgamento da ação de controle concentrado."},"decisao":{"type":"string","description":"Armazena o conteúdo da decisão do julgamento da ação de controle concentrado.(cautelar, mérito, monocrática, referendo, decisão de embargos de declaração, decisão de modulação de efeitos.","enum":["CAUTELAR","MERITO","MONOCRATICA","REFERENDO","DECISAO_EMBARGOS_DECLARACAO","DECISAO_MODULACAO_EFEITOS","TUTELA_PROVISORIA_INCIENTAL","TUTELA_PROVISORIA","SEGUNDO_JULGAMENTO","QUESTAO_DE_ORDEM","PRORROGACAO_DE_PRAZO","MEDIDA_CAUTELAR","EMBARGOS_INFRINGENTES","EMBARGOS_DE_DECLARACAO","AGRAVO_REGIMENTAL","ACORDO","OUTROS"]},"textoTese":{"type":"string","description":"Armazena a tese fixada no julgamento da ação de controle concentrado."},"codListaAssunto":{"type":"string","description":"Armazena uma lista de código de descrição do(s) Assunto(s) cadastrado(s) na ação de controle concentrado."},"dataDecisao":{"type":"string","description":"Armazena a data da decisão cautelar, de mérito, de embargos de declaração e de modulação de efeitos.","format":"date"},"textoEmenta":{"type":"string","description":"Armazena o texto da ementa de decisões cautelares ou de mérito, assim como de embargos de declaração."},"seqOrigem":{"type":"integer","description":"Armazena o sequencial do controle concentrado no órgão de origem.","format":"int32"},"textoQuestoesDiscussao":{"type":"string","description":"Armazena a questão controvertida na ação de controle concentrado."},"textoFundRelevantes":{"type":"string","description":"Armazena as razões de decisão que fundamentam a tese de julgamento."},"dscLinkInteiroTeor":{"type":"string","description":"Armazena o link de acesso ao inteiro teor do controle concentrado."},"idOrgao":{"type":"integer","description":"Armazena o sequencial do órgão que enviou o controle concentrado.","format":"int32"},"numHistorico":{"type":"string","description":"Armazena o número histórico no qual o controle concentrado foi atualizado."}}},"PageSuspensaoIncidenteDemandaRepetitivaRespostaDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"first":{"type":"boolean"},"last":{"type":"boolean"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/Sort"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/SuspensaoIncidenteDemandaRepetitivaRespostaDTO"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"unpaged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/Sort"},"offset":{"type":"integer","format":"int64"}}},"Sort":{"type":"object","properties":{"unsorted":{"type":"boolean"},"sorted":{"type":"boolean"},"empty":{"type":"boolean"}}},"SuspensaoIncidenteDemandaRepetitivaRespostaDTO":{"type":"object","properties":{"numero":{"type":"integer","description":"Tema de SIRDR: tema no qual foi determinada a suspensão geral.","format":"int32"},"tribunal":{"type":"string","description":"Tribunal de origem do tema no qual foi determinada a suspensão geral.","enum":["TRF1","TRF2","TRF3","TRF4","TRF5","TJAC","TJAL","TJAM","TJAP","TJBA","TJCE","TJDFT","TJES","TJGO","TJMA","TJMG","TJMS","TJMT","TJPA","TJPB","TJPE","TJPI","TJPR","TJRJ","TJRN","TJRO","TJRR","TJRS","TJSC","TJSE","TJSP","TJTO","TJMRS","STJ","TSE","TRT1","TRT2","TRT3","TRT4","TRT5","TRT6","TRT7","TRT8","TRT9","TRT10","TRT11","TRT12","TRT13","TRT14","TRT15","TRT16","TRT17","TRT18","TRT19","TRT20","TRT21","TRT22","TRT23","TRT24","TST","TRE_AC","TRE_AL","TRE_AP","TRE_AM","TRE_BA","TRE_CE","TRE_DF","TRE_ES","TRE_GO","TRE_MA","TRE_MT","TRE_MS","TRE_MG","TRE_PA","TRE_PB","TRE_PR","TRE_PE","TRE_PI","TRE_RJ","TRE_RN","TRE_RS","TRE_RR","TRE_SC","TRE_SP","TRE_SE","TRE_TO","TRE_RO","STM","TJMSP","TJMMG","STF","TRF6"]},"situacao":{"type":"string","description":"Situação do Tema: descrição da situação do Tema objeto da SIRDR.","enum":["EM_TRAMITACAO","SUSPENSAO_DEFERIDA","SUSPENSAO_INDEFERIDA","VINCULADA_AO_TEMA","PREJUDICADA","FINALIZADA_DETERMINACAO_DE_SUSPENSAO","CANCELADA","SOBRESTADA"]},"relator":{"maxLength":255,"type":"string","description":"Relator: magistrado relator da SIRDR."},"link":{"maxLength":2000,"type":"string","description":"Link de acesso à SIRDR: texto do hiperlink que dá acesso à página de acompanhamento processual do(s) processo(s) de SIRDR."},"assuntos":{"maxLength":1000,"type":"string","description":"Assunto: código de descrição do(s) Assunto(s) referente(s) à questão submetida a julgamento no IRDR, de acordo com o último nível constante da Tabela Processual Unificada do CNJ (separados por vírgula)."},"referenciaLegislativa":{"maxLength":1000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o Tema de SIRDR."},"suspensaoGeral":{"type":"boolean","description":"Suspensão Geral: informação quanto à determinação do TSE, STJ ou do TST de suspensão nacional de processos que possuam a mesma questão submetida a julgamento em IRDR (art. 1.029, § 4o , do CPC)"},"limiteSuspensao":{"$ref":"#/components/schemas/LimiteSuspensaoDTO"},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para integrar a SIRDR.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"orgao":{"type":"integer","description":"Armazena o identificador único de um órgão julgador competente para julgamento do processo submetido a julgamento como precedente; esse identificador é originado da tabela orgao do Corporativo.","format":"int32"},"dataSituacao":{"type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"textoTemaSirdr":{"maxLength":6000,"type":"string","description":"Armazena descrição do tema no qual foi determinada a suspensão geral."},"textoQuestaoSirdr":{"maxLength":6000,"type":"string","description":"Armazena a descrição da questão Submetida a Julgamento/delimitação da matéria a ser decidida."}}},"PageRepresentativoControversiaRespostaDTO":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"first":{"type":"boolean"},"last":{"type":"boolean"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"numberOfElements":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/Sort"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/RepresentativoControversiaRespostaDTO"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"RepresentativoControversiaRespostaDTO":{"required":["textoAcordaoAdmissao","textoDecisaoAdmissao","textoEmentaAdmissao"],"type":"object","properties":{"numero":{"type":"integer","description":"Número sequencial do tema objeto do processo afetado/admitido, conforme organização do STJ, do STM, do TSE, do TST, dos TJs, TRFs, TREs, TRTs e TNU.","format":"int32"},"questao":{"maxLength":4000,"type":"string","description":"Questão Submetida a Julgamento: delimitação da matéria a ser decidida."},"tese":{"maxLength":4000,"type":"string","description":"Tese Firmada: conclusão do órgão julgador referente à questão submetida a julgamento."},"textoDecisaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto da decisão de admissão/afetação."},"textoEmentaAdmissao":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão de admissão/afetação."},"textoAcordaoAdmissao":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão em que realizada a admissão ou afetação."},"textoEmentaMerito":{"maxLength":4000,"type":"string","description":"Texto da ementa da decisão que julgou o mérito."},"textoAcordaoMerito":{"maxLength":4000,"type":"string","description":"Texto do inteiro teor do acórdão que apreciou o mérito."},"textoDecisaoSuspensao":{"maxLength":4000,"type":"string","description":"Texto da decisão determinando a suspensão de processos correlatos ao tema (quando não estiver contido no inteiro teor do acórdão de admissão ou afetação)."},"numeroTemaSobrestado":{"type":"integer","description":"Número do tema quando a situação é de Sobrestado por Tema STF, STJ ou TST.","format":"int64"},"relator":{"type":"string","description":"Magistrado relator do processo submetido a julgamento."},"processosParadigma":{"type":"array","description":"Processo(s) Paradigma(s): processo(s) selecionado(s) para julgamento.","items":{"$ref":"#/components/schemas/ProcessoDTO"}},"dataAdmissao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da Admissão.","format":"date"},"dataJulgamento":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do julgamento do mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataPublicacao":{"pattern":"yyyy-MM-dd","type":"string","description":"Data da publicação do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"dataTransitoJulgado":{"pattern":"yyyy-MM-dd","type":"string","description":"Data do trânsito em julgado do acórdão que julgou o mérito do Tema objeto do processo submetido a julgamento.","format":"date"},"assuntos":{"maxLength":4000,"type":"string","description":"Código de descrição do(s) Assunto(s) referente(s) à questão submetida a julgamento, de acordo com o último nível constante da Tabela Processual Unificada do CNJ (separados por vírgulas)."},"referenciaLegislativa":{"maxLength":4000,"type":"string","description":"Referência Legislativa: dispositivo(s) legal(is) sobre o(s) qual(is) recai o Tema."},"limiteSuspensao":{"$ref":"#/components/schemas/LimiteSuspensaoDTO"},"orgao":{"type":"integer","description":"Armazena o identificador único de um órgão julgador competente para julgamento do processo submetido a julgamento como precedente; esse identificador é originado da tabela orgao do Corporativo.","format":"int32"},"dataAtualizacao":{"type":"string","description":"Armazena a data da última atualização/envio do precedente.","format":"date"},"dataSituacao":{"type":"string","description":"Armazena a data da última situação do precedente.","format":"date"},"situacao":{"type":"string","description":"Situação do Tema: descrição da situação do Tema.","enum":["AFETADO","AFETADO_POSSIVEL_REVISAO_TESE","EM_JULGAMENTO","MERITO_JULGADO","ACORDAO_PUBLICADO","ACORDA
[...]
