{
  "openapi": "3.0.1",
  "info": {
    "title": "mni-client",
    "description": "Serviço responsável por disponibilizar uma API REST para o <b>Modelo Nacional de Interoperabilidade (MNI)</b>",
    "version": "2.2.0"
  },
  "externalDocs": {
    "description": "Documentação do Serviço",
    "url": "https://docs.pje.jus.br/servicos-auxiliares/servico-mni-client"
  },
  "servers": [
    {
      "url": "https://gateway.prd.cnj.cloud/mni-client",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/api/v2/manifestacao": {
      "post": {
        "tags": [
          "Manifestação"
        ],
        "summary": "Entrega manifestação (com suporte a dados criminais)",
        "operationId": "entregaManifestacao",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManifestacaoV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseResposta"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/tipos-documentos": {
      "post": {
        "tags": [
          "Domínio Auxiliar"
        ],
        "summary": "Realiza a carga dos tipos de documento",
        "operationId": "salvarTiposDeDocumento",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TipoDocumentoVO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseBoolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/manifestacao": {
      "post": {
        "tags": [
          "Manifestação"
        ],
        "summary": "Entrega manifestação",
        "operationId": "entregaManifestacao_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ManifestacaoV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseBoolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/jurisdicoes": {
      "post": {
        "tags": [
          "Domínio Auxiliar"
        ],
        "summary": "Realiza a carga das jurisdicições",
        "operationId": "salvarJurisdicoes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JurisdicaoVO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseBoolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/configuracoes": {
      "post": {
        "tags": [
          "Configuração"
        ],
        "summary": "Salva configuração",
        "operationId": "salva",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfiguracaoVO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseConfiguracaoVO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/classes": {
      "post": {
        "tags": [
          "Domínio Auxiliar"
        ],
        "summary": "Realiza a carga das classes processuais",
        "operationId": "salvarClasses",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ClasseVO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseBoolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/assuntos": {
      "post": {
        "tags": [
          "Domínio Auxiliar"
        ],
        "summary": "Realiza a carga dos assuntos",
        "operationId": "salvarAssuntos",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AssuntoVO"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseBoolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/tribunais": {
      "get": {
        "tags": [
          "Tribunal"
        ],
        "summary": "Recupera tribunais (Recupera todas as configurações cujo atributo JTR esteja preenchido)",
        "operationId": "recuperaTribunais",
        "parameters": [
          {
            "name": "jtr",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "grau",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseListTribunalVO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/tipos-documentos/{idSistema}": {
      "get": {
        "tags": [
          "Domínio Auxiliar"
        ],
        "summary": "Retorna os tipos de documento de um Sistema/Tribunal",
        "operationId": "recuperarTiposDeDocumento",
        "parameters": [
          {
            "name": "idSistema",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseListTipoDocumentoResponseVO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/jurisdicoes/{idSistema}": {
      "get": {
        "tags": [
          "Domínio Auxiliar"
        ],
        "summary": "Retorna as jurisdições de um Sistema/Tribunal",
        "operationId": "recuperarJurisdicoes",
        "parameters": [
          {
            "name": "idSistema",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseListJurisdicaoResponseVO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/configuracoes/{idSistema}": {
      "get": {
        "tags": [
          "Configuração"
        ],
        "summary": "Recupera configuração",
        "operationId": "recupera",
        "parameters": [
          {
            "name": "idSistema",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseConfiguracaoVO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Configuração"
        ],
        "summary": "Exclui configuração",
        "operationId": "exclui",
        "parameters": [
          {
            "name": "idSistema",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseBoolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/classes/{idSistema}/{codigoJurisdicao}": {
      "get": {
        "tags": [
          "Domínio Auxiliar"
        ],
        "summary": "Retorna as classes de um Sistema/Tribunal, na jurisdição informada",
        "operationId": "recuperarClasses",
        "parameters": [
          {
            "name": "idSistema",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoJurisdicao",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseListClasseResponseVO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    },
    "/api/v1/assuntos/{idSistema}/{codigoJurisdicao}/{codigoClasse}": {
      "get": {
        "tags": [
          "Domínio Auxiliar"
        ],
        "summary": "Retorna os assuntos da da classe processual informada, de um Sistema/Tribunal",
        "operationId": "recuperarAssuntos",
        "parameters": [
          {
            "name": "idSistema",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "codigoJurisdicao",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "codigoClasse",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PjeResponseListAssuntoResponseVO"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer-key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Assinatura": {
        "type": "object",
        "properties": {
          "hash": {
            "type": "string"
          },
          "algoritmoHash": {
            "type": "string"
          },
          "cadeiaCeriticado": {
            "type": "string"
          }
        }
      },
      "Assunto": {
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "format": "int32"
          },
          "principal": {
            "type": "boolean"
          }
        }
      },
      "Cabecalho": {
        "type": "object",
        "properties": {
          "assuntos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Assunto"
            }
          },
          "codigoClasse": {
            "type": "integer",
            "format": "int32"
          },
          "codigoOrigemJurisdicao": {
            "type": "integer",
            "format": "int32"
          },
          "criminal": {
            "$ref": "#/components/schemas/Criminal"
          },
          "idCompetencia": {
            "type": "integer",
            "format": "int32"
          },
          "justicaGratuita": {
            "type": "boolean"
          },
          "nivelSigilo": {
            "type": "integer",
            "format": "int32"
          },
          "outrosParticipantes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parte"
            }
          },
          "poloAtivo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parte"
            }
          },
          "poloPassivo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parte"
            }
          },
          "prioridades": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "valorCausa": {
            "type": "number"
          }
        }
      },
      "Criminal": {
        "type": "object",
        "properties": {
          "fato": {
            "$ref": "#/components/schemas/Fato"
          },
          "procedimentosOrigens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProcedimentoOrigem"
            }
          }
        }
      },
      "Documento": {
        "type": "object",
        "properties": {
          "anexos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Documento"
            }
          },
          "assinatura": {
            "$ref": "#/components/schemas/Assinatura"
          },
          "codigo": {
            "type": "string"
          },
          "conteudo": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "byte"
            }
          },
          "descricao": {
            "type": "string"
          },
          "mimeType": {
            "type": "string"
          },
          "nivelSigilo": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "DocumentoIdentificacao": {
        "type": "object",
        "properties": {
          "numero": {
            "type": "string"
          },
          "orgaoEmissor": {
            "type": "string"
          },
          "tipo": {
            "type": "string",
            "enum": [
              "RG",
              "CNH",
              "TIT",
              "CNA",
              "CCA",
              "PAS",
              "CTR",
              "RIC",
              "CPF",
              "CNPJ",
              "PIS",
              "CEI",
              "NIT",
              "CCP",
              "IDF",
              "OAB",
              "RJC",
              "RGE"
            ]
          }
        }
      },
      "Endereco": {
        "type": "object",
        "properties": {
          "bairro": {
            "type": "string"
          },
          "cep": {
            "type": "string"
          },
          "cidade": {
            "type": "string"
          },
          "estado": {
            "type": "string"
          },
          "logradouro": {
            "type": "string"
          },
          "numero": {
            "type": "string"
          },
          "complemento": {
            "type": "string"
          }
        }
      },
      "Fato": {
        "type": "object",
        "properties": {
          "data": {
            "type": "string",
            "format": "date-time"
          },
          "endereco": {
            "$ref": "#/components/schemas/Endereco"
          },
          "local": {
            "type": "string"
          }
        }
      },
      "ManifestacaoV2": {
        "type": "object",
        "properties": {
          "cabecalho": {
            "$ref": "#/components/schemas/Cabecalho"
          },
          "documento": {
            "$ref": "#/components/schemas/Documento"
          },
          "idSistemaDestino": {
            "type": "string"
          },
          "numeroProcesso": {
            "type": "string"
          },
          "parametros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parametro"
            }
          }
        }
      },
      "Parametro": {
        "type": "object",
        "properties": {
          "chave": {
            "type": "string"
          },
          "valor": {
            "type": "string"
          }
        }
      },
      "Parte": {
        "type": "object",
        "properties": {
          "pessoa": {
            "$ref": "#/components/schemas/Pessoa"
          },
          "representantes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Representante"
            }
          }
        }
      },
      "Pessoa": {
        "type": "object",
        "properties": {
          "documentos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentoIdentificacao"
            }
          },
          "endereco": {
            "$ref": "#/components/schemas/Endereco"
          },
          "nome": {
            "type": "string"
          },
          "nomeAlternativo": {
            "type": "string"
          },
          "tipo": {
            "type": "string",
            "enum": [
              "FISICA",
              "JURIDICA"
            ]
          }
        }
      },
      "ProcedimentoOrigem": {
        "type": "object",
        "properties": {
          "ano": {
            "type": "integer",
            "format": "int32"
          },
          "dataInstauracao": {
            "type": "string",
            "format": "date-time"
          },
          "dataLavratura": {
            "type": "string",
            "format": "date-time"
          },
          "estado": {
            "type": "string"
          },
          "idOrgao": {
            "type": "string"
          },
          "idTipo": {
            "type": "string"
          },
          "idTipoOrigem": {
            "type": "string"
          },
          "numero": {
            "type": "string"
          },
          "protocolo": {
            "type": "string"
          }
        }
      },
      "Representante": {
        "type": "object",
        "properties": {
          "documentos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DocumentoIdentificacao"
            }
          },
          "endereco": {
            "$ref": "#/components/schemas/Endereco"
          },
          "nome": {
            "type": "string"
          }
        }
      },
      "PjeResponseResposta": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "result": {
            "$ref": "#/components/schemas/Resposta"
          }
        }
      },
      "Resposta": {
        "type": "object",
        "properties": {
          "mensagem": {
            "type": "string"
          },
          "numeroProtocolo": {
            "type": "string"
          },
          "recibo": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "byte"
            }
          },
          "sucesso": {
            "type": "boolean"
          }
        }
      },
      "TipoDocumentoVO": {
        "required": [
          "codigo",
          "descricao",
          "idSistema"
        ],
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "format": "int32"
          },
          "idSistema": {
            "type": "string"
          },
          "descricao": {
            "type": "string"
          }
        }
      },
      "PjeResponseBoolean": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "result": {
            "type": "boolean"
          }
        }
      },
      "ManifestacaoV1": {
        "type": "object",
        "properties": {
          "idSistemaDestino": {
            "type": "string"
          },
          "processo": {
            "type": "string"
          },
          "documentoJudicial": {
            "$ref": "#/components/schemas/Documento"
          },
          "parametros": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Parametro"
            }
          }
        }
      },
      "JurisdicaoVO": {
        "required": [
          "codigo",
          "descricao",
          "idSistema"
        ],
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "format": "int32"
          },
          "idSistema": {
            "type": "string"
          },
          "descricao": {
            "type": "string"
          }
        }
      },
      "ConfiguracaoVO": {
        "required": [
          "descricaoSistema",
          "fusoHorario",
          "idSistema",
          "jtr",
          "login",
          "senha",
          "url",
          "versao"
        ],
        "type": "object",
        "properties": {
          "descricaoSistema": {
            "type": "string"
          },
          "fusoHorario": {
            "type": "string",
            "enum": [
              "GMT2",
              "GMT3",
              "GMT4",
              "GMT5"
            ]
          },
          "headersCustomizados": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HeaderCustomizadoVO"
            }
          },
          "idSistema": {
            "type": "string"
          },
          "jtr": {
            "type": "string"
          },
          "login": {
            "type": "string"
          },
          "senha": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "versao": {
            "type": "string",
            "enum": [
              "V222",
              "V223",
              "V300"
            ]
          }
        }
      },
      "HeaderCustomizadoVO": {
        "required": [
          "nome",
          "valor"
        ],
        "type": "object",
        "properties": {
          "nome": {
            "type": "string"
          },
          "valor": {
            "type": "string"
          }
        }
      },
      "PjeResponseConfiguracaoVO": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "result": {
            "$ref": "#/components/schemas/ConfiguracaoVO"
          }
        }
      },
      "ClasseVO": {
        "required": [
          "codigo",
          "codigosJurisdicao",
          "descricao",
          "exigePoloAtivo",
          "exigePoloPassivo",
          "idSistema",
          "recursal",
          "remessaInstancia"
        ],
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "format": "int32"
          },
          "idSistema": {
            "type": "string"
          },
          "descricao": {
            "type": "string"
          },
          "recursal": {
            "type": "boolean"
          },
          "remessaInstancia": {
            "type": "boolean"
          },
          "exigePoloAtivo": {
            "type": "boolean"
          },
          "exigePoloPassivo": {
            "type": "boolean"
          },
          "idTipoPartePoloAtivo": {
            "type": "integer",
            "format": "int32"
          },
          "descTipoPartePoloAtivo": {
            "type": "string"
          },
          "idTipoPartePoloPassivo": {
            "type": "integer",
            "format": "int32"
          },
          "descTipoPartePoloPassivo": {
            "type": "string"
          },
          "codigosJurisdicao": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "AssuntoVO": {
        "required": [
          "codigo",
          "codigosClasses",
          "descricao",
          "idSistema"
        ],
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "format": "int32"
          },
          "idSistema": {
            "type": "string"
          },
          "descricao": {
            "type": "string"
          },
          "codigosClasses": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      },
      "PjeResponseListTribunalVO": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TribunalVO"
            }
          }
        }
      },
      "TribunalVO": {
        "type": "object",
        "properties": {
          "descricaoSistema": {
            "type": "string"
          },
          "grau": {
            "type": "string"
          },
          "idSistema": {
            "type": "string"
          },
          "jtr": {
            "type": "string"
          },
          "nomeTribunal": {
            "type": "string"
          }
        }
      },
      "PjeResponseListTipoDocumentoResponseVO": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TipoDocumentoResponseVO"
            }
          }
        }
      },
      "TipoDocumentoResponseVO": {
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "format": "int32"
          },
          "descricao": {
            "type": "string"
          }
        }
      },
      "JurisdicaoResponseVO": {
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "format": "int32"
          },
          "descricao": {
            "type": "string"
          }
        }
      },
      "PjeResponseListJurisdicaoResponseVO": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JurisdicaoResponseVO"
            }
          }
        }
      },
      "ClasseResponseVO": {
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "format": "int32"
          },
          "descricao": {
            "type": "string"
          },
          "recursal": {
            "type": "boolean"
          },
          "remessaInstancia": {
            "type": "boolean"
          },
          "exigePoloAtivo": {
            "type": "boolean"
          },
          "exigePoloPassivo": {
            "type": "boolean"
          },
          "idTipoPartePoloAtivo": {
            "type": "integer",
            "format": "int32"
          },
          "descTipoPartePoloAtivo": {
            "type": "string"
          },
          "idTipoPartePoloPassivo": {
            "type": "integer",
            "format": "int32"
          },
          "descTipoPartePoloPassivo": {
            "type": "string"
          }
        }
      },
      "PjeResponseListClasseResponseVO": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClasseResponseVO"
            }
          }
        }
      },
      "AssuntoResponseVO": {
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "format": "int32"
          },
          "descricao": {
            "type": "string"
          }
        }
      },
      "PjeResponseListAssuntoResponseVO": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "messages": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssuntoResponseVO"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearer-key": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
