{"swagger":"2.0","info":{"description":"Serviço estruturante que provê as consulta às tabelas processuais unificadas. Versao: 1.4.3","version":"1.4.3","title":"PDPJ - Módulo de consulta às tabelas processuais unificadas","termsOfService":"TERMS OF SERVICE URL","contact":{"name":"CNJ","url":"URL","email":"EMAIL"},"license":{"name":"LICENSE","url":"LICENSE URL"}},"host":"gateway.cloud.pje.jus.br","basePath":"/tpu","tags":[{"name":"Consulta","description":"Consulta Db Rest Controller"},{"name":"Consulta detalhada","description":"Consulta Detalhada Db Rest Controller"},{"name":"Download","description":"Download Tabela Controller"}],"paths":{"/api/v1/publico/consulta/assuntos":{"get":{"tags":["Consulta"],"summary":"Consulta assuntos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas","description":"Consulta assuntos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas. Só serão exibidos as 10 (dez) primeiras ocorrências.","operationId":"pesquisarAssuntosUsingGET","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código do assunto","required":false,"type":"string","allowEmptyValue":false},{"name":"glossario","in":"query","description":"Glossário do assunto (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false},{"name":"nome","in":"query","description":"Nome do assunto (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"Item","$ref":"#/definitions/Item"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/consulta/classes":{"get":{"tags":["Consulta"],"summary":"Consulta classes processuais cadastradas no Sistema de Gestão de Tabelas Unificadas","description":"Consulta classes processuais cadastradas no Sistema de Gestão de Tabelas Unificadas. Só serão exibidos as 10 (dez) primeiras ocorrências.","operationId":"pesquisarClassesUsingGET","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código da classe","required":false,"type":"string","allowEmptyValue":false},{"name":"glossario","in":"query","description":"Glossário da classe (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false},{"name":"nome","in":"query","description":"Nome da classe (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"Item","$ref":"#/definitions/Item"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/consulta/classes/criminais":{"get":{"tags":["Consulta"],"summary":"Retorna todas as classes criminais.","description":"Retorna todas as classes criminais.","operationId":"listarClassesCriminaisUsingGET","produces":["*/*"],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"ModelSimplesDTO","$ref":"#/definitions/ModelSimplesDTO"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/consulta/classes/{codigo}/is-criminal":{"get":{"tags":["Consulta"],"summary":"Retorna se uma classe é criminal.","description":"Retorna se uma classe é criminal.","operationId":"classeIsCriminalUsingGET","produces":["*/*"],"parameters":[{"name":"codigo","in":"path","description":"Código da classe","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"boolean"}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/consulta/detalhada/assuntos":{"get":{"tags":["Consulta detalhada"],"summary":"Consulta assuntos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas","description":"Consulta assuntos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas. Só serão exibidos as 10 (dez) primeiras ocorrências.","operationId":"pesquisarAssuntosUsingGET_1","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código do assunto","required":false,"type":"string","allowEmptyValue":false},{"name":"glossario","in":"query","description":"Glossário do assunto (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false},{"name":"nome","in":"query","description":"Nome do assunto (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"AssuntoDTO","$ref":"#/definitions/AssuntoDTO"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/consulta/detalhada/classes":{"get":{"tags":["Consulta detalhada"],"summary":"Consulta classes processuais cadastradas no Sistema de Gestão de Tabelas Unificadas","description":"Consulta classes processuais cadastradas no Sistema de Gestão de Tabelas Unificadas. Só serão exibidos as 10 (dez) primeiras ocorrências.","operationId":"pesquisarClassesUsingGET_1","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código da classe","required":false,"type":"string","allowEmptyValue":false},{"name":"glossario","in":"query","description":"Glossário da classe (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false},{"name":"nome","in":"query","description":"Nome da classe (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"ClasseDTO","$ref":"#/definitions/ClasseDTO"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/consulta/detalhada/documentos":{"get":{"tags":["Consulta detalhada"],"summary":"Consulta documentos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas","description":"Consulta documentos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas. Só serão exibidos as 10 (dez) primeiras ocorrências.","operationId":"pesquisarDocumentosUsingGET_1","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código do tipo do documento","required":false,"type":"string","allowEmptyValue":false},{"name":"glossario","in":"query","description":"Glossário do tipo do documento (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false},{"name":"nome","in":"query","description":"Nome do tipo do documento (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"DocumentoProcessualDTO","$ref":"#/definitions/DocumentoProcessualDTO"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/consulta/detalhada/movimentos":{"get":{"tags":["Consulta detalhada"],"summary":"Consulta movimentos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas","description":"Consulta movimentos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas. Só serão exibidos as 10 (dez) primeiras ocorrências.","operationId":"pesquisarMovimentosUsingGET_1","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código do movimento","required":false,"type":"string","allowEmptyValue":false},{"name":"glossario","in":"query","description":"Glossário do movimento (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false},{"name":"nome","in":"query","description":"Nome do movimento (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"MovimentoDTO","$ref":"#/definitions/MovimentoDTO"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/consulta/documentos":{"get":{"tags":["Consulta"],"summary":"Consulta documentos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas","description":"Consulta documentos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas. Só serão exibidos as 10 (dez) primeiras ocorrências.","operationId":"pesquisarDocumentosUsingGET","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código do tipo do documento","required":false,"type":"string","allowEmptyValue":false},{"name":"glossario","in":"query","description":"Glossário do tipo do documento (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false},{"name":"nome","in":"query","description":"Nome do tipo do documento (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"Item","$ref":"#/definitions/Item"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/consulta/movimentos":{"get":{"tags":["Consulta"],"summary":"Consulta movimentos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas","description":"Consulta movimentos processuais cadastrados no Sistema de Gestão de Tabelas Unificadas. Só serão exibidos as 10 (dez) primeiras ocorrências.","operationId":"pesquisarMovimentosUsingGET","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código do movimento","required":false,"type":"string","allowEmptyValue":false},{"name":"glossario","in":"query","description":"Glossário do movimento (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false},{"name":"nome","in":"query","description":"Nome do movimento (permite consulta por texto parcial)","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"Item","$ref":"#/definitions/Item"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/download/assuntos":{"get":{"tags":["Download"],"summary":"Download  de Assuntos cadastradas no Sistema de Gestão de Tabelas Unificadas","description":"Download  de Assuntos  cadastradas no Sistema de Gestão de Tabelas Unificadas.","operationId":"dowloadTabelaAssuntoUsingGET","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código do Assunto","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"AssuntoDTO","$ref":"#/definitions/AssuntoDTO"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/download/classes":{"get":{"tags":["Download"],"summary":"Download  de Classes cadastradas no Sistema de Gestão de Tabelas Unificadas","description":"Download  de Classes  cadastradas no Sistema de Gestão de Tabelas Unificadas.","operationId":"dowloadTabelaClasseUsingGET","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código da classe","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"ClasseDTO","$ref":"#/definitions/ClasseDTO"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/download/documentos":{"get":{"tags":["Download"],"summary":"Download  de tipos de documentos processuais cadastradas no Sistema de Gestão de Tabelas Unificadas","description":"Download  de tipos de documentos processuais cadastradas no Sistema de Gestão de Tabelas Unificadas.","operationId":"dowloadTabelaUsingGET","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código do tipo de documento","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"DocumentoProcessualDTO","$ref":"#/definitions/DocumentoProcessualDTO"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}},"/api/v1/publico/download/movimentos":{"get":{"tags":["Download"],"summary":"Download  de Movimentos cadastradas no Sistema de Gestão de Tabelas Unificadas","description":"Download  de Movimentos  cadastradas no Sistema de Gestão de Tabelas Unificadas.","operationId":"dowloadTabelaMovimentoUsingGET","produces":["*/*"],"parameters":[{"name":"codigo","in":"query","description":"Código do Movimento","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"Sucesso na operação ou consulta. Consultas com resultado vazio também retornam este código","schema":{"type":"array","items":{"originalRef":"MovimentoDTO","$ref":"#/definitions/MovimentoDTO"}}},"400":{"description":"Ocorreu um erro negocial (por exemplo, de validação)"},"404":{"description":"Entidade inexistente"},"500":{"description":"Ocorreu um erro inesperado. O erro foi logado e será investigado pela equipe técnica","schema":{"originalRef":"Response","$ref":"#/definitions/Response"}}},"deprecated":false}}},"definitions":{"AssuntoDTO":{"type":"object","properties":{"artigo":{"type":"string"},"assunto_secundario":{"type":"string","enum":["S","N"]},"cod_item":{"type":"integer","format":"int64"},"cod_item_pai":{"type":"integer","format":"int64"},"crime_antecedente":{"type":"string","enum":["S","N"]},"data_alteracao":{"type":"string","format":"date-time"},"data_inclusao":{"type":"string","format":"date-time"},"data_versao":{"type":"string","format":"date-time"},"descricao_glossario":{"type":"string"},"informacaoAuditoriaDatInclusao":{"type":"string","format":"date-time"},"informacaoAuditoriaDscIpUsuInclusao":{"type":"string"},"informacaoAuditoriaUsuAlteracao":{"type":"string"},"informacaoAuditoriaUsuInclusao":{"type":"string"},"informacaoId":{"type":"integer","format":"int64"},"justica_eleitoral_tre":{"type":"string","enum":["S","N"]},"justica_eleitoral_tse":{"type":"string","enum":["S","N"]},"justica_eleitoral_zonas":{"type":"string","enum":["S","N"]},"justica_estadual_1grau":{"type":"string","enum":["S","N"]},"justica_estadual_2grau":{"type":"string","enum":["S","N"]},"justica_estadual_juizado_especial":{"type":"string","enum":["S","N"]},"justica_estadual_juizado_especial_fazenda_publica":{"type":"string","enum":["S","N"]},"justica_estadual_juizado_especial_turmas_recursais":{"type":"string","enum":["S","N"]},"justica_estadual_militar_1grau":{"type":"string","enum":["S","N"]},"justica_estadual_militar_2grau":{"type":"string","enum":["S","N"]},"justica_estadual_turma_estadual_uniformizacao":{"type":"string","enum":["S","N"]},"justica_federal_1grau":{"type":"string","enum":["S","N"]},"justica_federal_2grau":{"type":"string","enum":["S","N"]},"justica_federal_cjf":{"type":"string","enum":["S","N"]},"justica_federal_juizado_especial":{"type":"string","enum":["S","N"]},"justica_federal_nacional_uniformizacao":{"type":"string","enum":["S","N"]},"justica_federal_regional_uniformizacao":{"type":"string","enum":["S","N"]},"justica_federal_turmas_recursais":{"type":"string","enum":["S","N"]},"justica_militar_estadual_1grau":{"type":"string","enum":["S","N"]},"justica_militar_estadual_tjm":{"type":"string","enum":["S","N"]},"justica_militar_uniao_1grau":{"type":"string","enum":["S","N"]},"justica_militar_uniao_stm":{"type":"string","enum":["S","N"]},"justica_trabalho_1grau":{"type":"string","enum":["S","N"]},"justica_trabalho_2grau":{"type":"string","enum":["S","N"]},"justica_trabalho_csjt":{"type":"string","enum":["S","N"]},"justica_trabalho_tst":{"type":"string","enum":["S","N"]},"nome":{"type":"string"},"norma":{"type":"string"},"outras_justicas_cnj":{"type":"string","enum":["S","N"]},"outras_justicas_stf":{"type":"string","enum":["S","N"]},"outras_justicas_stj":{"type":"string","enum":["S","N"]},"sigiloso":{"type":"string","enum":["S","N"]},"situacao":{"originalRef":"Character","$ref":"#/definitions/Character"},"usuario_alteracao":{"type":"string"},"usuario_inclusao":{"type":"string"}},"title":"AssuntoDTO"},"Character":{"type":"object","title":"Character"},"ClasseDTO":{"type":"object","properties":{"artigo":{"type":"string"},"cod_item":{"type":"integer","format":"int64"},"cod_item_pai":{"type":"integer","format":"int64"},"data_alteracao":{"type":"string","format":"date-time"},"data_inclusao":{"type":"string","format":"date-time"},"data_versao":{"type":"string","format":"date-time"},"descricao_glossario":{"type":"string"},"informacaoDatInclusao":{"type":"string","format":"date-time"},"informacaoDscIpUsuInclusao":{"type":"string"},"informacaoId":{"type":"integer","format":"int64"},"informacaoUsuAlteracao":{"type":"string"},"informacaoUsuInclusao":{"type":"string"},"justica_eleitoral_tre":{"type":"string","enum":["S","N"]},"justica_eleitoral_tse":{"type":"string","enum":["S","N"]},"justica_eleitoral_zonas":{"type":"string","enum":["S","N"]},"justica_estadual_1grau":{"type":"string","enum":["S","N"]},"justica_estadual_2grau":{"type":"string","enum":["S","N"]},"justica_estadual_juizado_especial":{"type":"string","enum":["S","N"]},"justica_estadual_juizado_especial_fazenda_publica":{"type":"string","enum":["S","N"]},"justica_estadual_juizado_especial_turmas_recursais":{"type":"string","enum":["S","N"]},"justica_estadual_militar_1grau":{"type":"string","enum":["S","N"]},"justica_estadual_militar_2grau":{"type":"string","enum":["S","N"]},"justica_estadual_turma_estadual_uniformizacao":{"type":"string","enum":["S","N"]},"justica_federal_1grau":{"type":"string","enum":["S","N"]},"justica_federal_2grau":{"type":"string","enum":["S","N"]},"justica_federal_cjf":{"type":"string","enum":["S","N"]},"justica_federal_juizado_especial":{"type":"string","enum":["S","N"]},"justica_federal_nacional_uniformizacao":{"type":"string","enum":["S","N"]},"justica_federal_regional_uniformizacao":{"type":"string","enum":["S","N"]},"justica_federal_turmas_recursais":{"type":"string","enum":["S","N"]},"justica_militar_estadual_1grau":{"type":"string","enum":["S","N"]},"justica_militar_estadual_tjm":{"type":"string","enum":["S","N"]},"justica_militar_uniao_1grau":{"type":"string","enum":["S","N"]},"justica_militar_uniao_stm":{"type":"string","enum":["S","N"]},"justica_trabalho_1grau":{"type":"string","enum":["S","N"]},"justica_trabalho_2grau":{"type":"string","enum":["S","N"]},"justica_trabalho_csjt":{"type":"string","enum":["S","N"]},"justica_trabalho_tst":{"type":"string","enum":["S","N"]},"natureza":{"type":"string"},"nome":{"type":"string"},"norma":{"type":"string"},"numeracao_propria":{"type":"string","enum":["S","N"]},"outras_justicas_cnj":{"type":"string","enum":["S","N"]},"outras_justicas_stf":{"type":"string","enum":["S","N"]},"outras_justicas_stj":{"type":"string","enum":["S","N"]},"polo_ativo":{"type":"string"},"polo_passivo":{"type":"string"},"sigiloso":{"type":"string","enum":["S","N"]},"sigla":{"type":"string"},"sigla_antiga":{"type":"string"},"situacao":{"originalRef":"Character","$ref":"#/definitions/Character"},"usuario_alteracao":{"type":"string"},"usuario_inclusao":{"type":"string"}},"title":"ClasseDTO"},"ComplementoMovimento":{"type":"object","properties":{"arrayValoresTabelados":{"type":"array","items":{"originalRef":"MovimentoVinculado","$ref":"#/definitions/MovimentoVinculado"}},"dscComplemento":{"type":"string"},"dscObservacao":{"type":"string"},"seqComplMov":{"type":"integer","format":"int32"},"seqComplemento":{"type":"integer","format":"int32"},"seqTipoComplemento":{"type":"integer","format":"int32"}},"title":"ComplementoMovimento"},"ComplementoMovimentoDTO":{"type":"object","properties":{"complementoDscComplemento":{"type":"string"},"complementoDscObservacao":{"type":"string"},"complementoId":{"type":"integer","format":"int64"},"complementoTabelado":{"type":"array","items":{"originalRef":"ComplementoTabeladoDto","$ref":"#/definitions/ComplementoTabeladoDto"}},"complementoTipoComplemento":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"}},"title":"ComplementoMovimentoDTO"},"ComplementoTabeladoDto":{"type":"object","properties":{"complementoDscComplemento":{"type":"string"},"complementoDscObservacao":{"type":"string"},"complementoId":{"type":"integer","format":"int64"},"complementoTipoComplemento":{"type":"integer","format":"int64"},"dscValorTabelado":{"type":"string"},"id":{"type":"integer","format":"int64"}},"title":"ComplementoTabeladoDto"},"DocumentoProcessualDTO":{"type":"object","properties":{"cod_item":{"type":"integer","format":"int64"},"cod_item_pai":{"type":"integer","format":"int64"},"data_alteracao":{"type":"string","format":"date-time"},"data_inclusao":{"type":"string","format":"date-time"},"data_versao":{"type":"string","format":"date-time"},"descricao_documento":{"type":"string"},"descricao_glossario":{"type":"string"},"nome":{"type":"string"},"situacao":{"originalRef":"Character","$ref":"#/definitions/Character"},"usuario_alteracao":{"type":"string"},"usuario_inclusao":{"type":"string"}},"title":"DocumentoProcessualDTO"},"Item":{"type":"object","properties":{"cod_item":{"type":"integer","format":"int32"},"cod_item_pai":{"type":"integer","format":"int32"},"complementos":{"type":"array","items":{"originalRef":"ComplementoMovimento","$ref":"#/definitions/ComplementoMovimento"}},"data_versao":{"type":"string","format":"date-time"},"dscGlossario":{"type":"string"},"nome":{"type":"string"},"textoParametrizado":{"type":"string"}},"title":"Item"},"ModelSimplesDTO":{"type":"object","properties":{"codigo":{"type":"integer","format":"int32"},"descricao":{"type":"string"}},"title":"ModelSimplesDTO"},"MovimentoDTO":{"type":"object","properties":{"artigo":{"type":"string"},"cod_item_pai":{"type":"integer","format":"int64"},"colegiado":{"type":"string","enum":["S","N"]},"complementos":{"type":"array","items":{"originalRef":"ComplementoMovimentoDTO","$ref":"#/definitions/ComplementoMovimentoDTO"}},"data_alteracao":{"type":"string","format":"date-time"},"data_inclusao":{"type":"string","format":"date-time"},"data_versao":{"type":"string","format":"date-time"},"descricao_glossario":{"type":"string"},"dispositivoLegal":{"type":"string"},"flgEletronico":{"type":"string","enum":["S","N"]},"flgPapel":{"type":"string","enum":["S","N"]},"glossario":{"type":"string"},"id":{"type":"integer","format":"int64"},"informacaoId":{"type":"string"},"justica_eleitoral_tre":{"type":"string","enum":["S","N"]},"justica_eleitoral_tse":{"type":"string","enum":["S","N"]},"justica_eleitoral_zonas":{"type":"string","enum":["S","N"]},"justica_estadual_1grau":{"type":"string","enum":["S","N"]},"justica_estadual_2grau":{"type":"string","enum":["S","N"]},"justica_estadual_juizado_especial":{"type":"string","enum":["S","N"]},"justica_estadual_juizado_especial_fazenda_publica":{"type":"string","enum":["S","N"]},"justica_estadual_juizado_especial_turmas_recursais":{"type":"string","enum":["S","N"]},"justica_estadual_militar_1grau":{"type":"string","enum":["S","N"]},"justica_estadual_militar_2grau":{"type":"string","enum":["S","N"]},"justica_estadual_turma_estadual_uniformizacao":{"type":"string","enum":["S","N"]},"justica_federal_1grau":{"type":"string","enum":["S","N"]},"justica_federal_2grau":{"type":"string","enum":["S","N"]},"justica_federal_cjf":{"type":"string","enum":["S","N"]},"justica_federal_juizado_especial":{"type":"string","enum":["S","N"]},"justica_federal_nacional_uniformizacao":{"type":"string","enum":["S","N"]},"justica_federal_regional_uniformizacao":{"type":"string","enum":["S","N"]},"justica_federal_turmas_recursais":{"type":"string","enum":["S","N"]},"justica_militar_estadual_1grau":{"type":"string","enum":["S","N"]},"justica_militar_estadual_tjm":{"type":"string","enum":["S","N"]},"justica_militar_uniao_1grau":{"type":"string","enum":["S","N"]},"justica_militar_uniao_stm":{"type":"string","enum":["S","N"]},"justica_trabalho_1grau":{"type":"string","enum":["S","N"]},"justica_trabalho_2grau":{"type":"string","enum":["S","N"]},"justica_trabalho_csjt":{"type":"string","enum":["S","N"]},"justica_trabalho_tst":{"type":"string","enum":["S","N"]},"monocratico":{"type":"string","enum":["S","N"]},"movimento":{"type":"string"},"nome":{"type":"string"},"norma":{"type":"string"},"outras_justicas_cnj":{"type":"string","enum":["S","N"]},"outras_justicas_stf":{"type":"string","enum":["S","N"]},"outras_justicas_stj":{"type":"string","enum":["S","N"]},"presidenteVice":{"type":"string","enum":["S","N"]},"sigiloso":{"type":"string","enum":["S","N"]},"situacao":{"originalRef":"Character","$ref":"#/definitions/Character"},"usuario_alteracao":{"type":"string"},"usuario_inclusao":{"type":"string"},"visibilidadeExterna":{"type":"string","enum":["S","N"]}},"title":"MovimentoDTO"},"MovimentoVinculado":{"type":"object","properties":{"dscComplementoTabelado":{"type":"string"},"seqComplemento":{"type":"integer","format":"int32"},"seqComplementoTabelado":{"type":"integer","format":"int32"}},"title":"MovimentoVinculado"},"Response":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"messages":{"type":"array","items":{"type":"string"}},"result":{"type":"object"},"status":{"type":"string"}},"title":"Response"}}}